# YOLOv8 & dependencies
ultralytics>=8.0.100
torch
torchvision
torchaudio

# Image & Video Processing
opencv-python-headless
Pillow
numpy

# Web App
streamlit

# Optional: For file handling
tempfile


