# Core Deep Learning packages
ultralytics==8.3.20
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0

# Image and Video processing
opencv-python-headless==4.10.0.84
Pillow==10.2.0
numpy>=1.23.0

# Web App
streamlit==1.38.0



